<launch>

	<node name="pharos_map_server" pkg="pharos_map_server" type="pharos_map_server" required="true" output="screen">

		<param name="frame_id" value="/odom" />
		<!-- <param name="roadinfo_map" value="$(find pharos_map_server)/maps/Deagu/ConvertedMap.yaml" /> -->
		<param name="roadinfo_map" value="$(find pharos_map_server)/maps/sandan/sandan_roadinfo.yaml" />
		<param name="verticalinfo_map" value="$(find pharos_map_server)/maps/sandan/sandan_verticalinfo.yaml" />
		<param name="drivable_map_perception" value="$(find pharos_map_server)/maps/sandan/sandan_drivable.yaml" />
		<param name="drivable_map_planner" value="$(find pharos_map_server)/maps/sandan/sandan_drivable.yaml" />

	</node>

</launch>
